 /* Style the body */
        body {
          font-family: Arial;
          margin: 0;
        }
        
        /* Header/Logo Title */
        .header {
          padding: 5px;
          text-align: left;
          background: #4B2E83;
          color: white;
          font-size: 10px;
        }
        
        /* Page Content */
        .content {padding:5px;}
    
        body 
        {
            background-color:rgb(182, 182, 182);
        }
    
        .container { 
          height: 100px;
          position: relative;
          border: 3px solid black; 
          display: flex;
        }
        
        .center {
          margin: 10;
          position: relative;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        
        #nav
        {
            display: inline-block;
           
        }
     .navbar
     {   
        color:white;
        width:200px;
        height:60px;
        display: inline-block;
       
     }

     ul.test li{
        display: inline-block;
        padding: 5px;
          text-align: left;
          background: #4B2E83;
          color: white;
          font-size: 10px;
     }