 /* Style the body */
        body {
          font-family: 'Times New Roman', Times, serif;
          margin: 0;
        }
        
        /* Header/Logo Title */
        .header {
          padding: 0px;
          text-align: left;
          background: #4B2E83;
          color: white;
          font-size: 30px;
        }
        
        /* Page Content */
        .content {padding:5px;}
    
        body 
        {
            background-color:rgb(182, 182, 182);
        }
    
        .container { 
          height: 100px;
          position: relative;
          border: 3px solid black; 
          display: flex;
        }
        
        .center {
          margin: 10;
          position: relative;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
        
        #nav
        {
            display: inline-block;
           
        }
     .navbar
     {   
        color:white;
        width:200px;
        height:60px;
        display: inline-block;
       
     }

     ul.test li {
      /*Make the list a nav-bar style*/
        
      /*Set the size of each button*/
      width: 13.7%;
      height: 13.7%;
    /*Set color and size*/
      background-color:#4B2E83;
      color: white;
      font-size: 25px;

    /*Move the text to the center of the 'button'*/ 
      display: inline-flex;
      justify-content: space-around;
      text-align: center;
      align-items: center;
      user-select: none;
      list-style-type: none;
     }
     ul.test li:hover {
      background-color:#6f4ab8;
     }
     a {
      color: white;
     }
     .home-logo{
      width: 100px;
      height: auto;
     }

     .footer {
      background-color:#4B2E83;
      color: white;
      text-align: center;
      width:100;
     }

     footer {
      text-align: center;
      padding: 3px;
      background-color: #4B2E83;
      color: white;
    }