   /* Style the body */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

/* Page Content */
.border {
  padding:5px;
  border:3px solid #835BD0;
  /*background-color: whitesmoke;*/
  background-image: linear-gradient(rgb(242, 209, 255), #835BD0);
}

.article{
  width: 66%;
}
body 
{
  background-color:rgb(242, 209, 255);
  /*background-color: whitesmoke;*/
}

a1{
  color: black;
}

a {
  color: black;
}