   /* Style the body */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

/* Page Content */
.content {
  padding:5px;
}

body 
{
  background-color:rgb(242, 209, 255);
}

a1{
  color: black;
}

a {
  color: black;
}