/*Style for news posts*/
#newsPosts{
    height: 20px;
    margin-left: 20px;
    position: relative;
    text-align: left;
    margin-top: 50px;
    border: 5px black;
  }

  .border {
    border: 1px solid black;
    padding: 1px;
  }