
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.colcontainer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-style: inset;
    border-width: 5px;
  
    

}

.column {
    flex-basis: 48%; /* Adjust the width of each column as needed */
    border: rgb(14, 10, 10);
}

 .bio {
    
    color:rgb(14, 10, 10);
    text-align:center;
    border: 5px solid #4B2E83;
 }



